@font-face {
  font-family: 'Samarkan';
  src: url('./img/SAMAN___.TTF') format('truetype'); 
}
@font-face {
  font-family: 'Poppins';
  src: url('./img/Poppins-Regular.ttf') format('truetype'); 
}
*{
    margin: 0;padding: 0;
  }
  
.container{
    margin-top: 70px;
    background-color: #543C32;
    height:90.3vh;
}

.p1{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.p1 img{
  height:640px;
}

.p1text{
  color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 140px;
font-style: normal;
font-weight: 900;
line-height: 1.2;
letter-spacing: -0.05px;
margin-top: 140px;
}

.p1head{
  display: flex;
    align-items: center;
    justify-items: center;
    height: 640px;
    flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signin-button,
.signup-button {
  border-radius: 40px;
  background: #DB4A0F;
  width: 180px;
  height:50px;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
}

.signin-button:hover,
.signup-button:hover {
  background: #ff6f42;
  text-decoration: underline;
}

.Layoutimg{
  
}