*{
  margin: 0;padding: 0;
}
.women-profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: #57211c;
}
.container{
  margin-top:50px;
}
.woman-profile {
  margin:50px auto;
  width: calc(25% - 20px);
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.woman-profile img {
  width: 100%;
  border-radius: 40px;
  margin-bottom: 10px;
}

.woman-profile h2 {
  font-size: 30px;
  margin-bottom: 2px;
  color: #333;
  margin-left: 0px;
}
.woman-profile p {
  font-size: 20px;
  color: #666;
}

.woman-profile a {
  text-decoration: none;
  color: #57211c;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.woman-profile:hover {
  transform: scale(1.05);
  border: 2px solid #57211c;
}
